/*Elements*/

body {
    background-color: rgb(30, 42, 54);
    border: 0;
    margin: 0;
}

div {
    border: 0;
    margin: 0;
}

h1 {
    border: 0;
    color:azure;
    font-family: 'Fleur De Leah', cursive;
    font-size: 8vw;
    line-height: 10vw;
    margin: 0;
}

h1, h2, h3, p {
    color:azure;
    text-align: center;
}

h2 {
    font-family: 'Cookie', cursive;
    font-size: 4vw;
    line-height: 4vw;
    margin: 0;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
}

p {
    font-family: 'Noto Sans', sans-serif;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

p {
    font-size: 1vw;
    line-height: 5vh;
}

/*Classes*/

.wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

/*IDs*/

#headerDiv {
    background-color: rgb(30, 42, 54);
    height: 5vw;
    width: 100%;
}

#headerImg {
    height: 4.5vw;
    margin: 0.25vw 47.75vw 0.25vw 47.75vw;
    width: 4.5vw;
}

#latestDraw {
    box-shadow: 2vh;
    max-width: 60vw;
    max-height: 60vh;
}

#latestDrawDiv {
    background-color: rgb(30, 42, 54);
    width: 100vw;
}

#latestDrawTitle {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#titleDiv {
    background-image: url(../imgs/Saber.jpg);
    background-position-x: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    overflow: auto;
    width: 100%;
}

#titleText {
    margin-top: 8vw;
    text-align: center;
}

#titleTwoText {
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-top: 0.5vw;
}